address=/nextcloud.home.local/192.168.255.20
address=/nextcloud.home.local/192.168.255.21
address=/promentheus.home.local/192.168.255.60
address=/alertmanager.home.local/192.168.255.60
address=/grafana.home.local/192.168.255.60
