#address=/nextcloud.home.local/192.168.255.10
address=/nextcloud1.home.local/192.168.255.20
address=/nextcloud2.home.local/192.168.255.21
address=/nfs.home.local/192.168.255.22
address=/psqlmaster.home.local/192.168.255.30
address=/psqlslave.home.local/192.168.255.31
address=/prometheus.home.local/192.168.255.60
address=/alertmanager.home.local/192.168.255.60
address=/grafana.home.local/192.168.255.60
address=/graylog.home.local/192.168.255.60
