global:
  resolve_timeout: 10s
receivers:
- name: default-telegram
  telegram_configs:
  - api_url: https://api.telegram.org
    bot_token: 6653210190:AAEsOZLDYz22UE2qdjjE6ptfZVAdPsXifnM
    chat_id: -4181527096
    disable_notifications: false
    http_config:
      follow_redirects: true
    send_resolved: true
    parse_mode: HTML
    message: '{{ template "telegram.default" . }}'
route:
  # continue: false
  group_by: ['alertname']
  group_interval: 10s
  group_wait: 10s
  receiver: default-telegram
    #repeat_interval: 1h
  routes:
  - receiver: default-telegram
templates:
- /etc/alertmanager/tmpl/telegram.tmpl
