groups:
  - name: linux_hosts
    rules:

    - alert: Host_Down
      expr: up == 0
      for: 1m
      labels:
        severity: critical
      annotations:
        summary: "Instance {{ $labels.instance }} down"
        description: "{{ $labels.instance }} has been down for more than 5 minutes."

    - alert: CPU_Usage
      expr: 100 - (avg by (instance) (irate(node_cpu_seconds_total{job="node",mode="idle"}[5m])) * 100) > 75
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "Instance {{ $labels.instance }} - high CPU usage"
        description: "{{ $labels.instance  }} has high CPU usage ({{ $value }}) for more than 5 minutes."

    - alert: Memory_Usage
      expr: (((node_memory_MemTotal_bytes - node_memory_MemFree_bytes - node_memory_Cached_bytes)/(node_memory_MemTotal_bytes)*100)) > 90
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "Instance {{ $labels.instance }} - high memory usage"
        description: "{{ $labels.instance  }} has high memory usage ({{ $value }}) for more than 5 minutes."

    - alert: Low_Disk_Space
      expr: ((node_filesystem_size_bytes - node_filesystem_free_bytes) / node_filesystem_size_bytes * 100) > 90
      for: 1m
      labels:
        severity: warning
      annotations:
        summary: "Instance {{ $labels.instance }} - low disk space"
        description: "{{ $labels.instance  }} - low disk space ({{ $value }})"

    - alert: UnusualNetworkThroughputIn
      expr: sum by (instance) (irate(node_network_receive_bytes_total{}[2m])) / 1024 / 1024 > 100
      for: 10m
      labels:
        severity: warning
      annotations:
        summary: "Unusual network throughput in (instance {{ $labels.instance }})"
        description: "Host network interfaces are probably receiving too much data (> 100 MB/s)\n  VALUE = {{ $value }}"

    - alert: UnusualNetworkThroughputOut
      expr: sum by (instance) (irate(node_network_transmit_bytes_total{}[2m])) / 1024 / 1024 > 100
      for: 30m
      labels:
        severity: warning
      annotations:
        summary: "Unusual network throughput out (instance {{ $labels.instance }})"
        description: "Host network interfaces are probably sending too much data (> 100 MB/s)\n  VALUE = {{ $value }}"

    - alert: UnusualDiskReadRate
      expr: sum by (instance) (irate(node_disk_read_bytes_total{}[2m])) / 1024 / 1024 > 50
      for: 30m
      labels:
        severity: warning
      annotations:
        summary: "Unusual disk read rate (instance {{ $labels.instance }})"
        description: "Disk is probably reading too much data (> 50 MB/s)\n  VALUE = {{ $value }}"

    - alert: UnusualDiskWriteRate
      expr: sum by (instance) (irate(node_disk_written_bytes_total{}[2m])) / 1024 / 1024 > 50
      for: 15m
      labels:
        severity: warning
      annotations:
        summary: "Unusual disk write rate (instance {{ $labels.instance }})"
        description: "Disk is probably writing too much data (> 50 MB/s)\n  VALUE = {{ $value }}"

    - alert: OutOfInodes
      expr: node_filesystem_files_free{mountpoint ="/"} / node_filesystem_files{mountpoint ="/"} * 100 < 10
      for: 1m
      labels:
        severity: warning
      annotations:
        summary: "Out of inodes (instance {{ $labels.instance }})"
        description: "Disk is almost running out of available inodes (< 10% left)\n  VALUE = {{ $value }}"

    - alert: UnusualDiskReadLatency
      expr: rate(node_disk_read_time_seconds_total[1m]) / rate(node_disk_reads_completed_total[1m]) > 100
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "Unusual disk read latency (instance {{ $labels.instance }})"
        description: "Disk latency is growing (read operations > 100ms)\n  VALUE = {{ $value }}"

    - alert: UnusualDiskWriteLatency
      expr: rate(node_disk_write_time_seconds_total[1m]) / rate(node_disk_writes_completed_total[1m]) > 100
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "Unusual disk write latency (instance {{ $labels.instance }})"
        description: "Disk latency is growing (write operations > 100ms)\n  VALUE = {{ $value }}"

    - alert: ContextSwitching
      expr: rate(node_context_switches_total[5m]) > 55000
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "Context switching (instance {{ $labels.instance }})"
        description: "Context switching is growing on node (> 55000 / s)\n  VALUE = {{ $value }}"

    - alert: SwapIsFillingUp
      expr: (((node_memory_SwapTotal - node_memory_SwapFree) / node_memory_SwapTotal) * 100) > 80
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "Swap is filling up (instance {{ $labels.instance }})"
        description: "Swap is filling up (>80%)\n  VALUE = {{ $value }}"

    - alert: SystemdServiceFailed
      expr: node_systemd_unit_state{state="failed"} == 1
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "SystemD service failed (instance {{ $labels.instance }})"
        description: "Service {{ $labels.name }} failed\n  VALUE = {{ $value }}"
