<?php
$CONFIG = array (
  'instanceid' => 'ock1l7w4sfs6',
  'passwordsalt' => 'YlaX+fSqYaGcHlRSdOs4XBiGgydTdY',
  'secret' => 'SddM2bdC4sU6WGwhsOzNgrKQOH8KmfjxhQWBc9KFBgfL7nVq',
  'trusted_domains' =>
  array (
    0 => 'nextcloud.home.local',
  ),
  'datadirectory' => '/var/www/nextcloud/data',
  'dbtype' => 'pgsql',
  'version' => '28.0.11.1',
  'overwrite.cli.url' => 'https://nextcloud.home.local',
  'dbname' => 'nextcloud',
  'dbhost' => '192.168.255.30',
  #'dbhost' => '192.168.255.31',
  'dbport' => '5432',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'postgres',
  'dbpassword' => 'P@ssw0rd',
  'installed' => true,
);
